body {
    font-family: 'Alef', sans-serif;
}

.donate-row {
    height: 114px;
    margin: 0;
}

.donate-banner {
    margin: 0;
}

.navbar {
    background-color: #2daae2;
    font-size: 1.2em;
    position: relative;
    margin-bottom: 0;
}

.navbar-inverse .navbar-brand {
    font-size: 2em;
    color: black;
}

.navbar-inverse .navbar-nav>li>a {
    color: black;
}
