body {
    font-family: 'Alef', sans-serif;
}

.navbar {
    background-color: #6acde4;
    font-size: 1.2em;
    position: relative;
    margin-bottom: 0;
    border: 0;
}

.navbar-inverse .navbar-brand {
    font-size: 2em;
    color: black;
    padding: 0;
}


.navbar-nav {
  margin-top: 1.5em;
}

.navbar-inverse .navbar-nav>li>a {
    color: black;
}

.navbar-brand {
  height: auto;
}

.fill-height {
  height: 100%;
}

.hide-overflow {
  overflow: hidden;
}

.abs {
  position: absolute;
}


.bg-dark-blue {
	background-color: #3981d9;
}

.bg-light-blue {
	background-color: #7fcde6;
}

.bg-pink {
 	background-color: #ec008c;
}

.bg-lighter-blue {
	background-color: #b2e1f0;
}